
<form action="/pet" method='post'>
  <div class="form-group">
   <label for="name">Enter a name for your new pet!</label>
   <input id="name" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">submit</button>
</form>
