<!-- <h1>Title</h1> -->
<form action="/title">
  <div class="form-group">
   <!-- <label for="title">Rock, Paper, or Scissors?
   </label> -->
   <h2>Player 1</h2>
   <!-- Form -->
   <!-- <select name="title1" class="form-control" id="title1">
      <option>Rock</option>
      <option>Paper</option>
      <option>Scissors</option>
    </select> -->
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
