<h2><%= @name %></h2>
<!--put stats table here-->
<h3>Food Level: <%=@food_level%></h3>
<h3>Sleep Level: <%=@sleep_level%></h3>
<h3>Activity Level: <%=@activity_level%></h3>

<div class="buttons">
  <a href="/food"><button type="button" name="food">Feed</button></a>
  <a href="/sleep"><button type="button" name="food">Rest</button></a>
  <a href="/play"><button type="button" name="food">Play</button></a>
</div>
<% if @food_level <= 0 || @sleep_level <= 0 || @activity_level <=0 %>
<img src="death.gif" alt="" />
<p>Kill your pet?? <a href="/">Get a new pet.</a> Please be more careful this time.</p>
<% end %>
